/* General styling for the login container */
.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
   url("../user.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    object-fit: cover;
    padding: 20px;
    box-sizing: border-box;
}

/* Styling for the login title */
.loginTitle {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Styling for the form container */
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Label styling */
.loginForm > label {
  margin: 10px 0;
  font-weight: bold;
  color: #555;
  font-family: 'Roboto', sans-serif;
}

/* Input field styling */
.loginInput {
  padding: 12px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.loginInput:focus {
  outline: none;
  border-color: #e65f5f;
  box-shadow: 0 0 5px rgba(230, 95, 95, 0.4);
}

/* Button styling */
.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #e65f5f;
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.loginButton:hover {
  background-color: #ec8787;
  transform: translateY(-2px);
}

/* Register link container styling */
.registerLinkContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Register text styling */
.registerLinkText {
  font-size: 1rem;
  margin-right: 5px;
  color: #555;
}

/* Register link styling */
.registerLink {
  color: #068932;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.2s;
}

.registerLink:hover {
  color: #3aaf6d;
  transform: translateY(-2px);
}

/* Responsive styling */
@media (max-width: 768px) {
  .loginTitle {
    font-size: 2.5rem;
  }

  .loginForm {
    width: 90%;
  }

  .loginButton {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .loginTitle {
    font-size: 2rem;
  }

  .loginForm {
    padding: 20px;
  }

  .loginButton {
    font-size: 0.9rem;
  }
}
